<!DOCTYPE html><html class="no-js" lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Artom - Modern &amp; Multipurpose HTML Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/animate.min.css">
        <link rel="stylesheet" href="static/css/magnific-popup.css">
        <link rel="stylesheet" href="static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="static/css/flaticon.css">
        <link rel="stylesheet" href="static/css/odometer.css">
        <link rel="stylesheet" href="static/css/aos.css">
        <link rel="stylesheet" href="static/css/slick.css">
        <link rel="stylesheet" href="static/css/default.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
        <style>
            table, td, th {
                border: 2px solid lightgray;
                text-indent: 15px;
            }

            table {
                border-collapse: collapse;
                width: 80%;
            }

            th {
                height: 70px;
            }
            td {
                height: 50px;
            }
            html{
                scroll-behavior: smooth;
            }
            .query_index1, .query_index2, .query_index3, .query_index4{
                width: 200px;
                height: 60px;
            }
            #btn01{
                width: 100px;
                height: 40px;
                text-align: center;
            }
        </style>
    </head>
    <body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0">

        <!-- preloader -->
        <div id="preloader" style="opacity: 0.7745114089990659;">
            <div id="loading-center">
                <div class="loader">
                    <div class="loader-outter"></div>
                    <div class="loader-inner"></div>
                </div>
            </div>
        </div>
        <!-- preloader-end -->

		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

        <!-- header-area -->
        <header>
            <div class="header-top-wrap">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7 d-none d-md-block">
                            <div class="header-top-contact">
                                <ul>
                                    <li><a href="tel:0123456789"><i class="fas fa-headphones"></i> +1 333 8654 45841</a></li>
                                    <li><a href="##64171114140b161024011c05091408014a070b09"><i class="fas fa-envelope-open-text"></i> <span class="__cf_email__" data-cfemail="e4979194948b9690a4819c8589948881ca878b89">headphones@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="header-top-right">
                                <ul>
                                    <li class="header-time"><i class="far fa-clock"></i> Mon - Fri: 9:00 am - 06.00pm</li>
                                    <li class="header-social">
                                        <span>Follow :</span>
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-pinterest"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header menu-area">
                <div class="container custom-container">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav show">
                                    <div class="logo">
                                        <a href="index.html"><img src="static/picture/logo.png" alt=""></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li><a href="#query">Query</a></li>
                                            <li><a href="#duplicate">Duplicate Search</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul>
                                            <li class="header-search"><a href="#"><i class="flaticon-search-magnifier-outline"></i></a></li>
                                            <li class="header-btn"><a href="index" class="btn"> Home <span></span></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <nav class="menu-box">
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo"><a href="index.html"><img src="static/picture/logo.png" alt="" title=""></a>
                                    </div>
                                    <div class="menu-outer">
                                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                    
                                        <ul class="navigation">
                                            <li class="menu-item-has-children"><a href="#">Home</a>
                                                <ul class="submenu">
                                                    <li><a href="index.html">Knowledge Base</a></li>
                                                    <li><a href="index-2.html">Home Software</a></li>
                                                    <li><a href="index-3.html">Home Consulting</a></li>
                                                </ul>
                                            <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div></li>
                                            <li><a href="about-us.html">Company</a></li>
                                            <li class="active menu-item-has-children"><a href="#">Services</a>
                                                <ul class="submenu">
                                                    <li class="active"><a href="">Our Services</a></li>
                                                    <li><a href="services-details.html">Services Details</a></li>
                                                </ul>
                                            <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div></li>
                                            <li class="menu-item-has-children"><a href="#">News</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">Our Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            <div class="dropdown-btn"><span class="fas fa-angle-down"></span></div></li>
                                            <li><a href="contact.html">contacts</a></li>
                                        </ul>
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix">
                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                            <!-- End Mobile Menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-search -->
            <div class="search-popup-wrap" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="search-close">
                    <span><i class="fas fa-times"></i></span>
                </div>
                <div class="search-wrap text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="title">... Search Here ...</h2>
                                <div class="search-form">
                                    <form action="#">
                                        <input type="text" name="search" placeholder="Type keywords here">
                                        <button class="search-btn"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-search-end -->
        </header>
        <!-- header-area-end -->

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
{#            <section class="breadcrumb-area breadcrumb-bg" data-background="static/image/breadcrumb_bg.jpg" style="background-image: url(/static/image/breadcrumb_bg.jpg);">#}
{#                <div class="container">#}
{#                    <div class="container-inner-wrap">#}
{#                        <div class="row">#}
{#                            <div class="col-12">#}
{#                                <div class="breadcrumb-content">#}
{#                                    <h2 class="title">Our Service</h2>#}
{#                                    <nav aria-label="breadcrumb">#}
{#                                        <ol class="breadcrumb">#}
{#                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>#}
{#                                            <li class="breadcrumb-item active" aria-current="page">Service</li>#}
{#                                        </ol>#}
{#                                    </nav>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
            <!-- breadcrumb-area-end -->

            <!-- delivering-value-area -->
            <section id="query" class="kb-services-area">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row justify-content-center">
                            <div>
                                <div class="kb-section-title text-center mb-55">
                                    <h2 class="title">Repository Query</h2>
                                    <p>Fast Retrieving API Info From Whosale API Repository</p>
                                    <p>Precise Query for Service Line, Blur Query for App Name</p>
                                    <div style="height: 50px"></div>
                                    <form action="services" method="get">
                                        <input class = "query_index1" type="text" name="apiName" placeholder="API Name">
                                        <input class = "query_index2" type="text" name="application" placeholder="Application">
                                        <input class = "query_index3" type="text" name="serviceLine" placeholder="Service Line">
                                        <button class = "btn"> Query <span></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                {% if infos %}
                    <table id="tabledisplay"  align="center" >
                        <tr>
                            <th>Application</th>
                            <th>Service Line</th>
                            <th>API</th>
                            <th>Version</th>
                            <th>Disk Space</th>
                            <th>Last Update Date</th>
                        </tr>
                        {% for info in infos %}
                            <tr>
                                <td>{{info[7]}}</td>
                                <td>{{info[8]}}</td>
                                <td>{{info[15]}}</td>
                                <td>{{info[17]}}</td>
                                <td>{{info[22]}}</td>
                                <td>{{info[26]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <table id="tabledisplay" style="display: none" align="center" >
                        <tr>
                            <th>Application</th>
                            <th>Service Line</th>
                            <th>API</th>
                            <th>Disk Space</th>
                            <th>Last Update Date</th>
                        </tr>
                        {% for info in infos %}
                            <tr>
                                <td>{{info[7]}}</td>
                                <td>{{info[8]}}</td>
                                <td>{{info[15]}}</td>
                                <td>{{info[22]}}</td>
                                <td>{{info[26]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                </div>
            </section>
            <!-- delivering-value-area-end -->

            <!-- similarity -->
            <section id="duplicate" class="kb-services-area">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row justify-content-center">
                            <div>
                                <div class="kb-section-title text-center mb-55">
                                    <h2 class="title">Suspected Duplicate Search</h2>
                                    <p>10 Most Likely Redundant API Has Been Provided</p>
                                    <p>According to the Semantic Textual Similarity</p>
                                    {% if api %}
                                        <p>Searching Target: {{ api }}</p>
                                    {% else %}
                                        <p style="display: none">Searching Target: {{ api }}</p>
                                    {% endif %}
                                    <div style="height: 50px"></div>
                                    <form action="services" method="get">
                                        <input class = "query_index4" type="text" name="targetapi" placeholder="API Name">
                                        <button class = "btn"> Test <span></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                {% if similarity %}
                    <table id="tabledisplay"  align="center" >
                        <tr>
                            <th>API Name</th>
                            <th>Semantic Textual Similarity</th>
                        </tr>
                        {% for info in similarity %}
                            <tr>
                                <td>{{info[0]}}</td>
                                <td>{{info[1]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <table id="tabledisplay" style="display: none" align="center" >
                        <tr>
                            <th>API Name</th>
                            <th>Semantic Textual Similarity</th>
                        </tr>
                        {% for info in similarity %}
                            <tr>
                                <td>{{info[0]}}</td>
                                <td>{{info[1]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}

                </div>
            </section>
            <!-- similarity-end -->

            <!-- services-area -->

            <!-- services-area-emd -->

            <!-- trial-area -->

            <!-- trial-area-end -->

            <!-- faq-area -->

            <!-- faq-area-end -->

        </main>
        <!-- main-area-end -->


        <!-- footer-area -->
        <footer>
            <div class="footer-top-wrap gray-bg">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row">
                            <div class="col">
                                <div class="footer-widget">
                                    <div class="fw-title">
                                        <h5 class="title">Product</h5>
                                    </div>
                                    <div class="fw-link">
                                        <ul>
                                            <li><a href="">Features</a></li>
                                            <li><a href="services-details.html">Pricing</a></li>
                                            <li><a href="contact.html">Create a free account</a></li>
                                            <li><a href="contact.html">Privacy Policy &amp; GDPR</a></li>
                                            <li><a href="contact.html">Terms of Service</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="footer-widget">
                                    <div class="fw-title">
                                        <h5 class="title">Company</h5>
                                    </div>
                                    <div class="fw-link">
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="services-details.html">FunnelJoy</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="contact.html">Contact Us</a></li>
                                            <li><a href="contact.html">Privacy Policy</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="footer-widget">
                                    <div class="fw-title">
                                        <h5 class="title">SUPPORT &amp; TRAINING</h5>
                                    </div>
                                    <div class="fw-link">
                                        <ul>
                                            <li><a href="contact.html">Support</a></li>
                                            <li><a href="index.html">Knowledge Base</a></li>
                                            <li><a href="services-details.html">Webinars</a></li>
                                            <li><a href="contact.html">API Documentation</a></li>
                                            <li><a href="contact.html">Log In</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="footer-widget">
                                    <div class="fw-title">
                                        <h5 class="title">Resources</h5>
                                    </div>
                                    <div class="fw-link">
                                        <ul>
                                            <li><a href="services-details.html">API reference</a></li>
                                            <li><a href="services-details.html">Status</a></li>
                                            <li><a href="contact.html">Get help</a></li>
                                            <li><a href="services-details.html">Brand assets</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="footer-widget text-left text-xl-right">
                                    <div class="fw-title">
                                        <h5 class="title">SOCIAL MEDIA CONNECT</h5>
                                    </div>
                                    <div class="fw-social">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="container-inner-wrap">
                        <div class="row align-items-center">
                            <div class="col-lg-8 col-md-9">
                                <div class="copyright-text">
                                    <div class="logo"><a href="index.html"><img src="static/picture/fw_logo.png?1" alt=""></a></div>
                                    <p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 d-none d-md-block">
                                <div class="footer-lang">
                                    <div class="dropdown">
                                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="static/picture/united-states.png" alt=""> English
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#"><img src="static/picture/russia.png" alt="">Russia</a>
                                            <a class="dropdown-item" href="#"><img src="static/picture/thailand.png" alt="">Thailand</a>
                                            <a class="dropdown-item" href="#"><img src="static/picture/india.png" alt="">India</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->





		<!-- JS here -->
        <script src="static/js/jquery-3.6.0.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/isotope.pkgd.min.js"></script>
        <script src="static/js/imagesloaded.pkgd.min.js"></script>
        <script src="static/js/jquery.magnific-popup.min.js"></script>
        <script src="static/js/owl.carousel.min.js"></script>
        <script src="static/js/jquery.odometer.min.js"></script>
        <script src="static/js/jquery.appear.js"></script>
        <script src="static/js/slick.min.js"></script>
        <script src="static/js/ajax-form.js"></script>
        <script src="static/js/wow.min.js"></script>
        <script src="static/js/aos.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>
    

</body></html>